# Verify Domains<a name="domain_verification"></a>

To verify a domain with Amazon WorkMail, you initiate the process using the Amazon WorkMail console, and then publish a TXT record to your DNS server as described in [Verifying Domains in Amazon SES](http://docs.aws.amazon.com/ses/latest/DeveloperGuide/verify-domains.html) in the *Amazon Simple Email Service Developer Guide*\. This section contains the following topics that might help you if you encounter problems:

+ To verify that the TXT record is correctly published to your DNS server, see [How to Check Domain Verification Settings](domain-verification-check-dns.md)\.

+ For some common problems you may encounter when you attempt to verify your domain with Amazon WorkMail, see [Common Domain Verification Problems](domain-verification-issues.md)\.